@import './configs.scss';

.container-action-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 18px;
    justify-content: space-between;
    border-bottom: 0.5px solid $greyColor3;

    span {
        cursor: pointer;
        font-family: $fontBold;

        &.disabled {
            cursor: not-allowed;
        }
    }

    strong {
        margin: auto;
        font-family: $fontBold;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: $greyColor5;
    }

    .principal {
        color: $primaryColor;
        font-family: $fontBold;
        cursor: pointer;
    }

    @media screen and (min-width:$desktopBreakpoint) {
        padding: 18px 24px;

        span {
            font-size: 16px;
        }

        strong {
            font-size: 18px;
        }
    }
}